<div class="center padded white-bg full-height">
    <div class="content padded">
        <div class="hero padded">
            <h1 class="logo">Propuestas</h1>
        </div>
        <div class="padded">
            {% for propuesta in propuestas %}
                <div style="margin-bottom: 20px;" class="card">
                    <h3 style="color: #f84f07">{{propuesta['usuario']}}</h3>
                    <label style="font-size: 15px;">{{propuesta['email']}}</label>
                    <div style="justify-content: right; display: flex;">
                    <label style="color: #bbb;">{{propuesta['fecha']}}</label>
                    {% if propuesta['editado'] == '1' %}
                        <label style="color: #bbb; margin-left: 10px;">editado</label>
                    {% endif %}
                    </div>
                    <p>{{propuesta['propuesta']}}</p>
                    <h3 style="color: #f84f07; font-size: 30px;">Respuestas</h3>
                    {% for respuesta in respuestas %}
                        {% if respuesta['id_propuesta'] == propuesta['id'] %}
                        <div class="padded respuesta">
                            <p>{{respuesta['respuesta']}}</p>
                            <p style="color: #649bb2;">{{respuesta['fecha_respuesta']}}</p>
                            <a style="color: #f84f07; margin: 10px;" href="{{ url_for(('proyecto.borrar_respuesta'), id=respuesta.id) }}"><img src="{{ url_for('static', filename='bin.png') }}" width="20px" height="20px"></a>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <form method="post" action="{{ url_for(('proyecto.respuesta'), id=propuesta.id) }}" class="contact-form">
                        <textarea class="res" placeholder="Respuesta" name="respuesta"></textarea>
                        <button type="submit" style="margin-bottom: 20px;" class="btn full-width">Enviar</button>
                    </form>
                    <a style="color: #f84f07; margin: 10px;" href="{{ url_for(('proyecto.borrar_propuesta'), id=propuesta.id) }}"><img src="{{ url_for('static', filename='bin.png') }}" width="25px" height="25px"></a>
                    <a style="color: #f84f07; margin: 10px;" href="{{ url_for(('proyecto.editar_propuesta'), id=propuesta.id) }}"><img src="{{ url_for('static', filename='edit.png') }}" width="25px" height="25px"></a>
                </div>
            {% endfor %}
            {% if n == [] %}
                <div class="hero hero-content center">
                    <a style="margin: 10px; font-size: 20px;" href="{{ url_for('proyecto.index') }}"><h1 class="">Crea alguna Propuesta</h1></a>
                </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>