<div class="center padded">
    <div class="padded vert-pad">
        <div class="card">
            <h1 style="font-size: 40px;">Registro</h1>
            <form class="contact-form" method="post" action="{{ url_for("proyecto.registro") }}">
                <input name="usuario" placeholder="Usuario" required />
                <input name="email" placeholder="Correo Elctronico" required />
                <input type="password" name="password" placeholder="Contraseña" required />
                <button type="submit" class="btn full-width">Regristrar</button>
            </form>
        </div>
    </div>
</div>