<div class="center padded white-bg">
    <div class="content">
        <div class="row vert-pad">
            <div class="right padded">
                <h1>Estrategias para combatir la contaminacion</h1>
                <p>Estrategias con las cuales podremos mitigar o 
    reducir la contaminación, ya que requiere la participación activa de la sociedad. 
    Algunas estrategias que se pueden implementar desde el ámbito social son:</p>
                <img src="{{ url_for('static', filename='estrategia.png') }}" width=600px>
            </div>
            <div class="left padded">
                <div class="card third">
                    <h3>Promover educacion ambiental</h3>
                    <p>La educación ambiental juega un 
    papel fundamental en la concienciación y sensibilización de la 
    sociedad sobre los problemas ambientales, incluyendo la 
    contaminación.</p>
                </div>
                <div class="card third">
                    <h3>Invertir en energías limpias</h3>
                    <p>La promoción de energías limpias y 
renovables, como la solar y la eólica, contribuye a reducir las 
emisiones contaminantes y disminuir la dependencia de los 
combustibles fósiles.</p>
                </div>
                <div class="card third">
                    <h3>Promover la economía circular</h3>
                    <p>La educación ambiental juega un 
papel fundamental en la concienciación y sensibilización de la 
sociedad sobre los problemas ambientales, incluyendo la 
contaminación.</p>
                </div>
            </div>
        </div>
    </div>
</div>