<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Tipos de Contaminación</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Según el medio afectado</h3>
                <p>La encontramos la contaminación del agua, del suelo y de los alimentos.</p>
            </div>
            <div class="card third">
                <h3>Según el agente contaminante</h3>
                <p>Nos las encontramos con la contaminación química, radiactiva, térmica, acústica, visual y la lumínica.</p>
            </div>
            <div class="card third">
                <h3>Según la extensión de la fuente</h3>
                <p>La encontramos la contaminación puntual, la lineal y la difusa.</p>
            </div>
        </div>
        <h1 id="causas"></h1>
    </div>
</div>