<div class="center padded">
    <div class="content padded">
        <div class="padded">
            <h1>Causas de la Contaminación</h1>
            <p>Las causas de la contaminación ambiental son, en su gran mayoría 
consecuencia de las actividades humanas y del modo de vida industrial de nuestra 
sociedad, también la poca conciencia que tenemos sobre este hecho y el apego a 
consumir más de lo necesario produciendo más contaminación.</p>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Industrias básicas</h3>
                <p>Las siderúrgicas y otras industrias que 
emplean energía y materia prima para producir insumos básicos para 
otras industrias, suelen producir importantes niveles de contaminación 
de distinto tipo.</p>
            </div>
            <div class="card third">
                <h3>Plantas de energía eléctrica</h3>
                <p>Una de nuestras grandes 
necesidades es la electricidad, ya que todo lo que utilizamos conlleva 
de ella, pero generarla conlleva una gran contaminación ambiental, ya 
que producirla conlleva hacer explosiones nucleares controladas o 
bien aprovechando la caída de grandes cursos de agua.</p>
            </div>
            <div class="card third">
                <h3>Transporte aéreo y marítimo</h3>
                <p>Todos los días, miles de aviones 
transitan expulsando gases contaminantes directamente en la 
atmosfera, lo mismo ocurre con los barcos, pero además de lo ya 
dicho también contaminan el agua.</p>
            </div>
        </div>
        <h1 id="contextosocial"></h1>
    </div>
</div>