<div id="defincion" class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Que es la contaminación ambiental</h1>
                <p>La contaminación ambiental es la degradación del medio ambiente por consecuencia de la introducción de sustancias<br> y elementos físicos que alteran su naturaleza de manera drástica, peligrosamente, haciéndolo menos apto para la vida tal y como la conocemos.</p>
            </div>
            <div class="right padded">
                <h1>Como esta nos afecta</h1>
                <p>Esta nos afecta directamente en la vida de los seres vivos<br> tanto como los animales, plantas y nosotros mismos, conllevando<br> así la perdida de especies y plantas. También se crean enfermedades que<br> repercutan directamente sobre la vida y el desarrollo humano.  </p>
            </div>
        </div>
    </div>
</div>