<div class="center second-bg">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Factores que contribuyen</h1>
                <p>Existen diversos factores sociales que contribuyen a la aparición y 
amplificación de la contaminación.</p>
                <div class="card third" style="margin-left: 0;">
                    <h3>Modelo desarrollo economico</h3>
                    <p> El modelo de desarrollo basado 
en el crecimiento económico ilimitado y el consumo desmedido de 
recursos naturales ha llevado a la sobreexplotación de los mismos y a 
la generación de grandes cantidades de residuos y emisiones 
contaminantes.</p>
                </div>
                 <div class="card third" style="margin-left: 0;">
                    <h3>Desigualdad social</h3>
                    <p> Las comunidades más 
vulnerables suelen estar expuestas a mayores niveles de 
contaminación debido a la falta de acceso a servicios básicos, vivienda 
de calidad y espacios verdes.
                    </p>
                </div>
                <div class="card third" style="margin-left: 0;">
                    <h3>Cultura del consumo</h3>
                    <p>La cultura del consumo desmedido impulsa la 
producción masiva de bienes, generando grandes cantidades de 
residuos y emisiones contaminantes.
                    </p>
                </div>
            </div>
            <div class="right padded">
                <h1>Efectos de contaminacion</h1>
                <p>La contaminación tiene diversos efectos 
negativos en el contexto social.</p>
                <div class="card third" style="margin-left: 0;">
                    <h3>Impacto en la salud</h3>
                    <p> La contaminación del aire, el agua y el suelo 
puede tener graves consecuencias para la salud humana, como 
enfermedades respiratorias, cardiovasculares y cáncer.</p>
                </div>
                <div class="card third" style="margin-left: 0;">
                    <h3>Deterioro de la calidad de vida</h3>
                    <p>La contaminación también afecta la 
calidad de vida de las personas, ya que puede generar molestias como 
malos olores, ruidos o falta de acceso a espacios verdes.</p>
                </div>
                <div class="card third" style="margin-left: 0;">
                    <h3>Aumento de la desigualdad social</h3>
                    <p> La contaminación tiende a 
afectar de manera desproporcionada a las comunidades más 
vulnerables, contribuyendo así a aumentar la desigualdad social.
                    </p>
                </div>
            <p id="estra"></p>
            </div>
        </div>
    </div>
</div>