<div class="hero white-bg">
    <div class="hero-content padded">
        <div class="left padded" style="width: 600px;">
            <img src="{{ url_for('static', filename="social.png") }}"  width=500px>
        </div>
        <div class="right padded" style="width: 600px; padding-top: 150px;">
            <h1>Contexto Social</h1>
            <p>La contaminación ambiental representa el mayor agente de preocupación 
social hoy en día y también para nuevas generaciones venideras durante las 
próximas décadas. La contaminación ambiental se conceptúa como una 
problemática social que nace a partir de la carencia de concientización del ser 
humano hacia los lugares de preservación en temáticas de protección de ciertas 
áreas naturales, hábitats y la extinción de especies.</p>
            <p id="proefe"></p>
        </div>
    </div>
</div>