<div class="hero">
    <div class="hero-content">
        <div class="left">
            <h1>Execelente!</h1>
            <p>Tu propuesta fui enviada para ser revisada y a tener en cuenta...<br>
                Muchas gracias por el aporte.
            </p>
            <a style="margin: 20px;" href="{{ url_for('proyecto.propuestas') }}">Ir Propuestas</a>
        </div>
        <div class="right">
            <img src="{{ url_for('static', filename='email.png') }}" width=600px />
        </div>
    </div>
</div>